#frame {
    width: 100%;
    min-width: 360px;
    max-width: 1000px;
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #e6eaea;
    margin-left: 270px;
}

#frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* sidepannel css */

#frame #content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#frame #content .messages {
    height: 600px;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

#frame #content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#frame #content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#frame #content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

#frame #content #message-input .wrap {
    position: relative;
}

#frame #content #message-input .wrap input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 51px);
    padding: 14px 32px 8px 8px;
    font-size: 0.8em;
    color: #32465a;
    font-size: 16px;
}

#frame #content #message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: 0.5;
    cursor: pointer;
}

#frame #content #message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
    height: 48px;
}

#frame #content #message-input .wrap button:hover {
    background: #435f7a;
}

#frame #content #message-input .wrap button:focus {
    outline: none;
}